<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wild Life Tracker</title>

  <link rel="stylesheet" type="text/css" 
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Joti+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Maven+Pro:500" rel="stylesheet">
  <style type="text/css">
    body{
      background-image: url('images/wildlife.jpg');
     /* background-repeat: no-repeat;*/
/*      background-size: cover;
      background-attachment: fixed;*/
      font-family: 'Maven Pro', sans-serif;
      padding-top: 7%;
    }
    div#nav,footer{
      text-align: center;
      /*background-color: #f5deb3b8;*/
          background-color: #f5deb3d1;
      width: 70%;
      margin: 0px auto;
    }
    footer{
      margin-top: 2px; 
    }
    h1 {
      font-family: 'Joti One', cursive;
       color: #4013f5;
    }
    p{
      font-size: 20px;
      color: #4013f5;
    }
  </style>
  </head>

  <body>
    <div class="row" id="nav">
      <h1>Wild Life Tracker</h1>
      <hr>
      <p>This application  allows Rangers to track wildlife sightings in the area.</p>
      <div class="section">
        #parse($template)
        </div><br>

      </div>
    </div>

<footer class="text-center">
  <small>Powered By Java - Spark Library</small><br>
  <small>&copy <a href="https://peterkariukimutuura.github.io">https://peterkariukimutuura.github.io</a></small>
</footer>
  </body>
</html>
